* {
    box-sizing: border-box;
}

.page-wrap {
    width: 800px;
    margin: 20px auto;
}

.main-story {
    position: relative;
    margin: 0 0 25px 0;
}

.image-replacement{
  position: relative;
  background: url(https://www.commondreams.org/sites/default/files/styles/cd_large/public/headlines/rights_of_nature_sweden.jpg?itok=XitGx3Y9) no-repeat;
  width: 100%;
  height: 300px;
  padding-left: 180px;
}

img {
    display: block;
}

a {
    color: lightblue;
}

.story-intro {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.75);
    padding: 20px;
    color: white;
}

h1 {
    font-size: 4em;
}
h1, h2 {
    margin: 0 0 10px 0;
}

.story-intro h1 {
    font-size: 2.5em;
}
.story-intro p {
    margin: 0;
}

 .middle{
  height: 360px;
  width: 250px;
      
}

.sub-stories {
    overflow: hidden;
    margin: 0 0 25px 0;
}

.sub-story {
    display: block;
    box-sizing: border-box;
    float: left;
    padding: 5px;
    position: relative;
    font-size: 80%;
}

.last {
    margin-right: 0;
}

.inner-sub-story {
position: relative;
}

@media (max-width: 1200px) {
     .page-wrap {width: 100%;}
}


@media (max-width: 768px) {
     .sub-story {
    width: 100%;
    padding: 5px;
    }
}
   
@media (min-width: 768px) {
    .sub-story  {
    width: 50%;
    padding: 5px;
    }    
}
   
    
@media (min-width: 992px) {
     .sub-story {width: 32%;}
}





 




